.xyz{
          background-color:#fbfcfd;
          padding: 5px;
          align-items: center;
          text-align: center;
          border-radius: 8px;
          box-shadow: '0 0 8px rgba(0, 0, 0, 0.125)';
          border: '5px solid';
          border-color: 'muted';
          margin: 5px;
        }
.xyzz{
            background-color:rgb(240, 168, 198);
            padding: 5px;
            border-radius: 7;
            box-shadow: '0 0 8px rgba(0, 0, 0, 0.125)';
            border: '5px solid';
            border-color: 'muted';
          }
          .imageclass{
            padding: 10px;
          }

